body{
    /* background-color:aqua;  */
    margin: 0px;
    padding: 0px;

}
header{
    height:15vh;
    background-color: bisque;
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;

    /* margin-bottom: 0px; */
    

}
main{
    height:75vh;
    background-color: aqua;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    height:10vh;
    background-color: bisque;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    font-size: large;
    text-align: center;
    /* margin-left:35%; */
    margin-top: 0%; 
}

input{
    width: 100%;
    height: 100%;
    border:0px;
    border-radius: 20px;
    font-size: large;
    text-align: right;
    margin-right: 20px;

}
.operator{
    background-color: rgb(233, 96, 96);
}
.enter{
    background-color: blue;
}
.c{
    background-color:gold;
}
button{
    width: 100%;
    height: 100%;
    background-color: rgb(73, 80, 80);
    border-radius: 20px;
    font-size: large;
    font-weight: bolder;
    color: white;
    border: 0px;
    box-shadow: 3px 3px  0.5px rgb(26, 30, 30);
}

button:active{
    width:105%;
    height: 105%;
}
td{
    width:80px;
    height: 40px;
    padding: 4px;
    
}